{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article creation</h1>


{#    {{ form(form, {'attr': {'class': 'col-lg-6'},'attr': {'role': 'form'}}) }}#}



{{ form_start(form, {'attr': {'class': ''}}) }}
    
<h3>Article</h3>
<div class="form-wrapper">  
    
    <table>
        <tr>
            <td>{{ form_label(form.title) }}</td>
            <td>{{ form_widget(form.title, {'attr': {'class': 'boiteinput'}}) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.content) }} </td>
            <td>{{ form_widget(form.content, {'attr': {'class': 'boiteinput'},'attr': {'style': 'width:100%'},'attr': {'rows': '10'}}) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.published) }}</td>
            <td>{{ form_widget(form.published, {'attr': {'class': 'lcs_check'}}) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.enabled) }} </td>
            <td>{{ form_widget(form.enabled, {'attr': {'class': 'lcs_check'}}) }}</td>
        </tr>        
        <tr>
            <td>{{ form_label(form.publishDate) }} </td>
            <td>{{ form_widget(form.publishDate, {'attr': {'class': 'MonDateTimePicker'}}) }}</td>
        </tr>
    </table>
</div>   
<br>    
<h3>Image de l'article</h3>    
<div class="form-wrapper">  
    <table>
        <tr>
            <td>{{ form_label(form.banner.title) }} </td>
            <td>{{ form_widget(form.banner.title, {'attr': {'class': 'boiteinput'}}) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.banner.alt) }}</td>
            <td>{{ form_widget(form.banner.alt, {'attr': {'class': 'boiteinput'}}) }}</td>
        </tr>        
        <tr>
            <td>{{ form_label(form.banner.url) }} </td>
            <td>{{ form_widget(form.banner.url, {'attr': {'class': 'boiteinput'}}) }}</td>
        </tr>
    </table>    

</div>
    <div>
    {{ form_widget(form.submit, {'attr': {'class': 'button green glossy'}}) }}
    </div>

    
{#{{ form_end(form) }}  #}  
{{ form_end(form, {'render_rest': false})  }}





        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}" class="button blue glossy">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
