{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article</h1>

    <div class="form-wrapper">  
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ entity.content }}</td>
                </tr>
                <tr>
                    <th>Creationdate</th>
                    <td>{{ entity.creationDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Lasteditdate</th>
                    <td>{{ entity.lastEditDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Publishdate</th>
                    <td>{{ entity.publishDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Published</th>
                    <td>{{ entity.published }}</td>
                </tr>
                <tr>
                    <th>Enabled</th>
                    <td>{{ entity.enabled }}</td>
                </tr>
                <tr>
                    <th>Nom (Login) de l'auteur</th>
                    <td>{{ entity.author.NameLogin }}</td>
                </tr>            

            </tbody>
        </table>  
        <div style="text-align: center">        
        <table  width="99%">

            
            {{ form_start(delete_form, {'attr': {'class': ''}}) }} 
            <tr>
                <td  width="33%"><a href="{{ path('article') }}" class="button blue glossy">Retour</a></td>
                <td width="33%"><a href="{{ path('article_edit', { 'id': entity.id }) }}" class="button green glossy">Édition</a></td>
                <td width="33%">

                     

                    {{ form_widget(delete_form.submit, {'attr': {'class': 'button pink glossy'}}) }}

                                             

                </td>

            </tr>
            {{ form_end(delete_form)  }}   


        </table>
        </div>







    </div>
{% endblock %}
